<!DOCTYPE html>
<html lang="en">
<head>
<title>Serenity</title>

<!--SEO goodies-->
<meta name="description" content="Log In to Serenity.">

<!--Reset to normalize appearance of elements across browsers-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">

<!--Our styles-->
<link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
   <img class="logo" src="/stylesheets/images/serenity.png" alt="Serenity"/>
    <form role="form" action="/sessions" accept-charset="UTF-8" method="POST" class="signup-form">
    <fieldset>
      <legend>Log In</legend>
      <label for="user-email">Email</label>
      <input type="email" name="email" id="email" required/>
      <label for="user-password">Password</label>
      <input type="password" name="password" id="password" required/>
      <button type="submit">Log In</button>
    </fieldset>
  </form>

  <footer role="contentinfo" class="footer">
    <p>Don't have an account? <a href="/login">Sign Up</a></p>
  </footer>
</body>
</html>
